
<div class="container " >
    <div class="text">
       <h1> SALLE DE SPORT HAUT DE GAMME</h1>
<h2> MUSCULATION, CARDIO, CROSS-TRAINING & BOXE EN ACCÈS ILLIMITÉ</h2>
    </div>
    <div class="description-container">
        <img src="../../../assets/img/fit.jpg" alt="" class="img-responsive floating-image right">
        <h3>ENTRAÎNEMENT EN ILLIMITÉ. 7J/7 - DE 6H À 23H*</h3>
        <hr>
        <p>Trouve une salle de sport haut de gamme au meilleur rapport qualité/prix ! Avec son prix accessible,notre club te permet de t’entraîner efficacement à tout moment de la journée. Repousse tes limites dans MALO Gym ouverte 24h/24!

            En t’inscrivant dans notre club, tu profites d’un abonnement dans une salle de sport à seulement 30€/4 semaines pour t’entraîner, te dépasser, te surpasser, et réaliser tous tes objectifs sans contrainte.</p><br><br><br>
        <img src="../../../assets/img/activite.jpg" alt="" class="img-responsive floating-image left">
        <h3>DU MATÉRIEL DE QUALITÉ. POUR DES SÉANCES RÉUSSIES</h3>
        <hr>
        <p>Dans les salles de sport Fitness Park, tu trouveras des installations haut de gamme et les meilleurs équipements du marché : TechnoGym, Hammer Strenght, Cybex, Yanga Sports Water, Sismo Fitness.

            Nos installations sont adaptées pour que tu atteignes tes objectifs.
            
            C’est pourquoi nos clubs sont équipés de matériel de qualité dernière génération pour te permettre de te surpasser à chaque séance.</p><br><br><br><br>
            <img src="../../../assets/img/apropos.jpg" alt="" class="img-responsive floating-image right">
            <h3>DES ESPACES UNIQUES</h3>
            <hr>
            <p>Avec MALO Gym,améliore ta condition physique, tonifie ton corps et développe ta masse musculaire.Grâce a des espaces adaptés sur plus de 1000m² façonne tes entraînements à la perfection:<br>

                *L’espace musculation, avec un large choix de machines à poids libres ou guidées et haltères. Idéal pour le renforcement musculaire et la prise de muscle.<br>
                *L’espace cardio training, avec des appareils connectés dernière génération (tapis de course, rameur, vélos elliptiques, etc.). Parfait pour te remettre en forme, la perte de poids rapide et tonifier tes abdos.<br>
                *L’espace cross-training pour tes entraînements les plus intensifs. Afin <br>de brûler des calories en un temps records ou <br>pour une préparation physique complète.</p>
    </div>
</div><br><br><br><br>