<body>
    <div class="wrapper">  
        <form action="">
            <h1>Se Connecter</h1>
            <div class="input-box">
                <input type="text" placeholder="CIN" required>
                <i class="bi bi-person-fill"></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Mot de passe" required>
                <i class="bi bi-lock-fill"></i>
            </div>
            <div class="remember-forgot">
                <label ><input type="checkbox">Remmber me</label>
                <a >Mot de passe oublie </a>
            </div>
            <button type="submit" class="btn">Connecter</button>
            <div class="register-link">
                <p>Vous avez pas un compte &#63; <a routerLink="/package">S'inscrire</a></p>
            </div>
        </form>
    </div>
</body>