
<section class="section-team">
    <div class="container">
        <!-- Start Header Section -->
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header-section">
                    <h2 class="title">Notre Team</h2>
                    <h3 class="small-title">La salle de sport MALO Gym collabore avec des coachs professionnels afin de pouvoir proposer des cours collectifs d’une grande qualité à ses abonnés. Un encadrement professionnel pour tirer le meilleur de vos séances de Musculation, Cardio, Cross Training, Danse, Aerobic...</h3>
                </div> 
            </div>
        </div>
        <!-- / End Header Section -->
        <div class="row">
            <!-- Start Single Person -->
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="../../../assets/img/cach3.png" alt="">
                        <span class="icon">
                            <i class="fa-regular fa-dumbbell"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">Youssef</h3>
                        <span class="speciality">ADMINISTRATION</span>
                    </div>
                </div>
            </div>
            <!-- / End Single Person -->
            <!-- Start Single Person -->
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="../../../assets/img/coach2.png" alt="">
                        <span class="icon">
                            <i class="fa-regular fa-dumbbell"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">Yassine</h3>
                        <span class="speciality">Gestinnaire des Coachs</span>
                    </div>
                </div>
            </div>
            <!-- / End Single Person -->
            <!-- Start Single Person -->
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="../../../assets/img/caoch1.png" alt="">
                        <span class="icon">
                            <i class="fa-regular fa-dumbbell"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">ALI</h3>
                        <span class="speciality">Coach Danse</span>
                    </div>
                </div>
            </div>
            <!-- / End Single Person -->
            <!-- Start Single Person -->
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="../../../assets/img/coach2.png" alt="">
                        <span class="icon">
                            <i class="fa-regular fa-dumbbell"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">Aymane</h3>
                        <span class="speciality">Préparateur Physique</span>
                    </div>
                </div>
            </div>
            <!-- / End Single Person -->
                <!-- Start Single Person -->
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="../../../assets/img/cach3.png" alt="">
                        <span class="icon">
                            <i class="fa-regular fa-dumbbell"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">Ahmed</h3>
                        <span class="speciality">Coach Cardio</span>
                    </div>
                </div>
            </div>
            <!-- / End Single Person -->
                <!-- Start Single Person -->
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="../../../assets/img/coach4.png" alt="">
                        <span class="icon">
                            <i class="fa-regular fa-dumbbell"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">Salma</h3>
                        <span class="speciality">Coach Aerobic</span>
                    </div>
                </div>
            </div>
            <!-- / End Single Person -->
            <!-- Start Single Person -->
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="../../../assets/img/caoch1.png" alt="">
                        <span class="icon">
                            <i class="fa-regular fa-dumbbell"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">Ahmed</h3>
                        <span class="speciality">Coach Minceur</span>
                    </div>
                </div>
            </div>
            <!-- / End Single Person -->
            <!-- Start Single Person -->
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="single-person">
                    <div class="person-image">
                        <img src="../../../assets/img/coach6.jpg" alt="">
                        <span class="icon">
                            <i class="fa-regular fa-dumbbell"></i>
                        </span>
                    </div>
                    <div class="person-info">
                        <h3 class="full-name">Saad</h3>
                        <span class="speciality">Coach Sport/Santé</span>
                    </div>
                </div>
            </div>
            <!-- / End Single Person -->
        </div>
    </div>
</section>

