
<div class="banner">
    <video src="../../../assets/video/back.mp4" autoplay muted loop type="mp4"></video>
    <div class="textbox">
        <h2>Plus que de Fitness</h2>
        <p>proposent une multitude d’activités au choix pour répondre à tous les besoins.
            La possibilité d’être encadré constitue également un avantage,
            sans oublier les cours collectifs et l’assistance médicale en cas de nécessité. 
            Femme, homme, quel que soit votre niveau, vous pouvez commencer vos séances de fitness ou de musculation dans notre salle, 
            en choisissant  le club le plus proche de votre domicile.
         </p>
         <a routerLink="/register">S'inscrire</a>
         <a routerLink="/connecter">Se connecter</a>
         
    </div>
    
</div>

<div class="carousel-container">
    <h1>Notre Salle <span>MaloGYM</span></h1>
    <div class="carousel">
      <img [src]="images[currentIndex]" alt="Image" class="carousel-image">
    </div>
    <div class="controls">
      <button (click)="prev()" class="prev-btn">&lt;</button>
      <button (click)="next()" class="next-btn">&gt;</button>
    </div>
</div>
  
  
  

<div class="container mt-5 mb-4">
    <h2 class="text-center mb-5 ">Comment obtenir <span class="highlight">un bon corps</span></h2>
    <div class="row">
        <div class="col-lg-4">
            <div class="stepbox ex mb-5">
                <h1>Exercice régulier </h1>
                <p> Faites de l'exercice régulièrement en combinant des activités cardiovasculaires (comme la course à pied, la natation, le vélo) avec du renforcement musculaire (comme la musculation, le yoga, la gymnastique). </p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepbox ali mb-5">
                <h1>Alimentation équilibrée </h1>
               <p>Adoptez une alimentation équilibrée comprenant une variété d'aliments nutritifs tels que des fruits, des légumes, des protéines maigres, des grains entiers et des graisses saines. Évitez les aliments transformés riches en sucres ajoutés.</p>
            </div>
        </div>
       
       
        <div class="col-lg-4">
            <div class="stepbox gs mb-5">
                <h1>Gestion du stress  </h1>
                <p>Trouvez des moyens sains de gérer le stress, comme la méditation, la respiration profonde, le yoga ou d'autres activités relaxantes. Le stress chronique peut avoir un impact négatif sur votre santé physique et mentale. <br><br></p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepbox cm mb-5">
                <h1>Consultation médicale </h1>
                <p>Consultez régulièrement votre médecin pour des bilans de santé réguliers et pour discuter de tout problème de santé ou de toute préoccupation que vous pourriez avoir.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="stepbox sa mb-5">
                <h1>Sommeil adéquat </h1>
                <p>Assurez-vous de dormir suffisamment chaque nuit pour permettre à votre corps de récupérer et de se régénérer. La plupart des adultes ont besoin de 7 à 9 heures de sommeil par nuit.</p>
            </div>
        </div>
       
        <div class="col-lg-4">
            <div class="stepbox  as mb-5">
                <h1>Acceptation de soi </h1>
                <p>Apprenez à vous aimer et à accepter votre corps tel qu'il est. La santé et le bien-être sont plus importants que de répondre à des normes de beauté ou de forme physique imposées par la société.</p>
            </div>
        </div>
        
    </div>
</div>



