<div class="containerglobal">
    <div class="container " >
        <div class="card mrtp">
        
            <div class="imgBx"> <img src="../../../assets/img/Musculation.png"></div>
            
             <p><span>SOULEVEZ, TRACTEZ ET DÉVELOPPEZ</span>  <br>La musculation est une discipline qui vise à développer et à entretenir la masse musculaire des pratiquants . Elle permet d’accroitre le volume musculaire, la force, l’endurance, la puissance, l’explosivité et la résistance du corps. </p>
             <h3>MUSCULATION</h3>
             
        </div>
        <div class="card mrtp">
            <div class="imgBx"><img src="../../../assets/img/cross.jpg"></div>
             <p><span>RÉPÉTEZ, PERSÉVÉREZ ET AMÉLIOREZ</span> <br> Le Cross training est une méthode d’entraînement et de préparation physique qui combine plusieurs éléments : force physique, endurance, gymnastique, souplesse, dextérité…</p>
             <h3>CROSS TRAINING</h3>
        </div>
        <div class="card mrtp">
            <div class="imgBx"><img src="../../../assets/img/cardio (2).jpg"></div>
          
             <p><span>RESPIREZ, SOUFFLEZ ET SCULPTEZ</span> <br> L’entraînement cardio vasculaire est une discipline qui permet aux pratiquants de travailler leur endurance et d’améliorer leurs performances cardiaques. </p>
             <h3>CARDIO TRAINING</h3>
        </div>
        <div class="card ">
            <div class="imgBx"><img src="../../../assets/img/courColect.jpg"></div>
             <p> <span>BOUGEZ, BRÛLEZ ET TRANSPIREZ</span> <br> Nos cours collectifs regroupent plusieurs formats d’activités et différentes méthodes d’exercices. Chacun d’entre eux permet d’atteindre des objectifs différents. </p>
             <h3>COURS COLLECTIFS</h3>
        </div>
        <div class="card">
            <div class="imgBx"><img src="../../../assets/img/aerobic.jpg"></div>
            
             <p>l'Aérobic complète les entraînements de musculation et de culture physique en proposant un exercice axé sur la rapidité et l'endurance.
    
                L'Aérobic permet de sculpter ses jambes et le bas du corps, mais permet aussi de raffermir l'ensemble de sa silhouette.
                
               Et tout cela en vous amusant !</p>
             <h3>Aerobic</h3>
      
        </div>
        <div class="card">
            <div class="imgBx"> <img src="../../../assets/img/danse.jpg"></div>
           
             <p>Quel que soit votre style, quel que soit votre niveau, vous trouverez forcément un cours de danse à votre pied ! Classique, moderne, contemporain, hip hop ou encore danses du monde, notre salle propose des cours de danse authentiques </p>
             <h3>Danse</h3>
            
        </div>
    
    </div>
    
</div>
